<li id='post-label-<%= post_label.id %>'>
  <div class="alert text-center float-right" role="alert" style='background-color:<%= post_label.label.background_color %>;'>
    <%= post_label.label.title %>
    <%= link_to 'x', post_label_path(post_label.post, post_label.label),
                     method: :delete,
                     remote: true,
                     class: 'float-right',
                     data: { confirm: t('posts.confirm_destroy') } %>
</li>
