<li id='post-label-<%= post_label.id %>'>
  <div class="alert text-center" role="alert" style='background-color:<%= post_label.label.background_color %>;'>
    <%= post_label.label.title %>
  </div>
</li>
