<div class='container-fluid'>
  <% @boards.in_groups_of(3).each do |board_group|  %>
    <div class="row">
      <% board_group.compact.each do |board|  %>
        <%= render board %>
      <% end %>
    </div>
  <% end %>
</div>
