<ul style='list-style: none;'>
  <% post.attachments.each do |attachment| %>
    <li id='active-storage-attachment-<%= attachment.id %>'>
      <%= link_to url_for(attachment), target: '_blank' do %>
        <%= image_tag attachment.variant(resize: size) %>
      <% end %>
      <%= link_to('x', record_active_storage_attachment_path(post, attachment),
                       method: :delete,
                       remote: true,
                       data: { confirm: t('posts.confirm_destroy') }) %>
    </li>
  <% end %>
</ul>
